<!--
  This component uses @tailwindcss/forms

  yarn add @tailwindcss/forms
  npm install @tailwindcss/forms

  plugins: [require('@tailwindcss/forms')]
-->

<section>
  <div class="relative mx-auto max-w-screen-2xl">
    <div class="grid grid-cols-1 md:grid-cols-1">
      <div class="bg-white py-12 md:py-18">
        <div class="mx-auto max-w-lg px-4 lg:px-8">
          <h2 class="text-xl font-medium text-gray-900 mb-4">$445 a night</h2>
          <fieldset class="col-span-6 mb-4">
            <legend class="mb-1 block text-sm text-gray-600">
              Reservation details
            </legend>
            <div class="-space-y-px rounded-lg bg-white shadow-sm">
              <div class="flex -space-x-px">
                <div class="flex-1">
                  <label class="block text-xs font-medium text-gray-900 uppercase mb-1 mt-1" for="card-expiration-date">
                    Check in
                  </label>

                  <input
                    class="relative w-full rounded-bl-lg border-gray-200 p-2.5 text-sm placeholder-gray-400 focus:z-10"
                    type="date"
                    name="check-in"
                    id="check-in"
                    placeholder="11/09/2022"
                    />
                </div>

                <div class="flex-1">
                  <label class="block text-xs font-medium text-gray-900 uppercase mb-1 mt-1" for="card-cvc">Check Out</label>

                  <input
                    class="relative w-full rounded-br-lg border-gray-200 p-2.5 text-sm placeholder-gray-400 focus:z-10"
                    type="date"
                    name="check-out"
                    id="check-out"
                    placeholder="Check Out"
                    />
                </div>
              </div>
              <div>
                <input
                  class="relative w-full rounded-t-lg border-gray-200 p-2.5 text-sm placeholder-gray-400 focus:z-10"
                  type="number"
                  name="guest-count"
                  id="guest-count"
                  placeholder="Guest count"
                  />
              </div>
            </div>
          </fieldset>
          <dl class="space-y-6">
            <div class="flex items-center justify-between">
              <dt class="text-sm">$445 x 7 nights</dt>
              <dd class="text-sm font-medium text-gray-900">$3,115.00</dd>
            </div>
            <div class="flex items-center justify-between">
              <dt class="text-sm">Cleaning Fee</dt>
              <dd class="text-sm font-medium text-gray-900">$64.00</dd>
            </div>
            <div class="flex items-center justify-between">
              <dt class="text-sm">Service Fee</dt>
              <dd class="text-sm font-medium text-gray-900">$5.00</dd>
            </div>
            <div class="flex items-center justify-between">
              <dt class="text-sm">Total</dt>
              <dd class="text-sm font-medium text-gray-900">$3,184.00</dd>
            </div>
          </dl>

          <div class="mt-12">
            <div class="flow-root -my-4 divide-y divide-gray-200">
              <div class="border-t border-gray-200 pt-6">
                <button type="submit" class="w-full bg-indigo-600 border border-transparent rounded-md font-medium shadow-sm py-3 px-4 text-white">submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>

<!--      <div class="bg-white py-12 md:py-24">-->
<!--        <div class="mx-auto max-w-lg px-4 lg:px-8">-->
<!--          <form class="grid grid-cols-6 gap-4">-->
<!--            <div class="col-span-3">-->
<!--              <label class="mb-1 block text-sm text-gray-600" for="first_name">-->
<!--                First Name-->
<!--              </label>-->

<!--              <input-->
<!--                class="w-full rounded-lg border-gray-200 p-2.5 text-sm shadow-sm"-->
<!--                type="text"-->
<!--                id="first_name"-->
<!--                />-->
<!--            </div>-->

<!--            <div class="col-span-3">-->
<!--              <label class="mb-1 block text-sm text-gray-600" for="last_name">-->
<!--                Last Name-->
<!--              </label>-->

<!--              <input-->
<!--                class="w-full rounded-lg border-gray-200 p-2.5 text-sm shadow-sm"-->
<!--                type="text"-->
<!--                id="last_name"-->
<!--                />-->
<!--            </div>-->

<!--            <div class="col-span-6">-->
<!--              <label class="mb-1 block text-sm text-gray-600" for="email">-->
<!--                Email-->
<!--              </label>-->

<!--              <input-->
<!--                class="w-full rounded-lg border-gray-200 p-2.5 text-sm shadow-sm"-->
<!--                type="email"-->
<!--                id="email"-->
<!--                />-->
<!--            </div>-->

<!--            <div class="col-span-6">-->
<!--              <label class="mb-1 block text-sm text-gray-600" for="phone">-->
<!--                Phone-->
<!--              </label>-->

<!--              <input-->
<!--                class="w-full rounded-lg border-gray-200 p-2.5 text-sm shadow-sm"-->
<!--                type="tel"-->
<!--                id="phone"-->
<!--                />-->
<!--            </div>-->

<!--            <fieldset class="col-span-6">-->
<!--              <legend class="mb-1 block text-sm text-gray-600">-->
<!--                Card Details-->
<!--              </legend>-->

<!--              <div class="-space-y-px rounded-lg bg-white shadow-sm">-->
<!--                <div>-->
<!--                  <label class="sr-only" for="card-number">Card Number</label>-->

<!--                  <input-->
<!--                    class="relative w-full rounded-t-lg border-gray-200 p-2.5 text-sm placeholder-gray-400 focus:z-10"-->
<!--                    type="text"-->
<!--                    name="card-number"-->
<!--                    id="card-number"-->
<!--                    placeholder="Card number"-->
<!--                    />-->
<!--                </div>-->

<!--                <div class="flex -space-x-px">-->
<!--                  <div class="flex-1">-->
<!--                    <label class="sr-only" for="card-expiration-date">-->
<!--                      Expiration Date-->
<!--                    </label>-->

<!--                    <input-->
<!--                      class="relative w-full rounded-bl-lg border-gray-200 p-2.5 text-sm placeholder-gray-400 focus:z-10"-->
<!--                      type="text"-->
<!--                      name="card-expiration-date"-->
<!--                      id="card-expiration-date"-->
<!--                      placeholder="MM / YY"-->
<!--                      />-->
<!--                  </div>-->

<!--                  <div class="flex-1">-->
<!--                    <label class="sr-only" for="card-cvc">CVC</label>-->

<!--                    <input-->
<!--                      class="relative w-full rounded-br-lg border-gray-200 p-2.5 text-sm placeholder-gray-400 focus:z-10"-->
<!--                      type="text"-->
<!--                      name="card-cvc"-->
<!--                      id="card-cvc"-->
<!--                      placeholder="CVC"-->
<!--                      />-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </fieldset>-->

<!--            <fieldset class="col-span-6">-->
<!--              <legend class="mb-1 block text-sm text-gray-600">-->
<!--                Billing Address-->
<!--              </legend>-->

<!--              <div class="-space-y-px rounded-lg bg-white shadow-sm">-->
<!--                <div>-->
<!--                  <label class="sr-only" for="country">Country</label>-->

<!--                  <select-->
<!--                    class="relative w-full rounded-t-lg border-gray-200 p-2.5 text-sm focus:z-10"-->
<!--                    id="country"-->
<!--                    name="country"-->
<!--                    autocomplete="country-name"-->
<!--                  >-->
<!--                    <option>England</option>-->
<!--                    <option>Wales</option>-->
<!--                    <option>Scotland</option>-->
<!--                    <option>France</option>-->
<!--                    <option>Belgium</option>-->
<!--                    <option>Japan</option>-->
<!--                  </select>-->
<!--                </div>-->

<!--                <div>-->
<!--                  <label class="sr-only" for="postal-code">-->
<!--                    ZIP/Post Code-->
<!--                  </label>-->

<!--                  <input-->
<!--                    class="relative w-full rounded-b-lg border-gray-200 p-2.5 text-sm placeholder-gray-400 focus:z-10"-->
<!--                    type="text"-->
<!--                    name="postal-code"-->
<!--                    id="postal-code"-->
<!--                    autocomplete="postal-code"-->
<!--                    placeholder="ZIP/Post Code"-->
<!--                    />-->
<!--                </div>-->
<!--              </div>-->
<!--            </fieldset>-->

<!--            <div class="col-span-6">-->
<!--              <button-->
<!--                class="block w-full rounded-lg bg-black p-2.5 text-sm text-white"-->
<!--                type="submit"-->
<!--              >-->
<!--                Pay Now-->
<!--              </button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</section>
