<section>
  <div class="relative mx-auto max-w-screen-xl px-4 py-8">
    <div class="grid grid-cols-1 items-start gap-8 md:grid-cols-2">
      <div class="grid grid-cols-2 gap-4 md:grid-cols-1">
        <%= image_tag @property.default_image, class: "aspect-square w-full rounded-xl object-cover" %>
      </div>

      <div class="sticky top-0">
        <details class="group relative">
          <summary class="block">
            <div>
              <%= render "properties/book_property" %>
              <div class="prose max-w-none group-open:hidden">
                <p>
                  <%= @property.description.first(50) %>
                </p>
              </div>

              <span
                class="mt-4 cursor-pointer text-sm font-medium underline group-open:absolute group-open:bottom-0 group-open:left-0 group-open:mt-0"
              >
                Read More
              </span>
            </div>
          </summary>

          <div class="prose max-w-none pb-6">
            <p>
              <%= @property.description.first(997) %>
            </p>
          </div>
        </details>
      </div>
      <div class="">
        <div class="max-w-[60ch]">
          <h1 class="text-2xl font-bold">
            Entire stay hosted by a Sadistic Imp
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>