<div>
  <div class="flex mb-5">
    <div class="flex-none cursor-pointer hover:bg-gray-100" data-modal-target="closeButton">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </div>
  </div>
  <div class="flex-none pl-1 mb-1">
    <p class="text-2xl font-bold">Share this listing</p>
  </div>
  <div>
    <!--
  This component uses @tailwindcss/line-clamp

  yarn add@tailwindcss/line-clamp
  npm install@tailwindcss/line-clamp

  plugins: [require('@tailwindcss/line-clamp')]
-->

    <article class="rounded-xl">
      <div class="flex items-start p-6">
        <a href="#" class="block shrink-0">
          <%= image_tag @property.default_image, class: "h-14 w-14 rounded-lg object-cover" %>
        </a>

        <div class="ml-4">
          <p class="text-sm text-gray-700 line-clamp-2">
            <%= @property.name %> |
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 inline-block relative" style="bottom: 2px;">
                <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
              </svg>
            <%= @property.average_rating.round(2) %>
          </p>
          </div>
        </div>
      <div class="flex justify-end">
      </div>
    </article>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      <div class="relative rounded-lg border border-gray-200 bg-white px-6 py-5 shadow-sm flex items-center">
        <div class="flex-shrink-0">
          <img src="https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_960,f_auto/DCTM_Penguin_UK_DK_AL202555_liuy4y.jpg" alt="" class="h-10 w-10 rounded-full">
        </div>
        <div class="flex-1 min-w-0">
          <a href="#" class="focus:outline-none">
            <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="px-2 text-sm font-medium text-gray-900">
                share on FrogSpace
              </p>
          </a>
        </div>
      </div>
      <div class="relative rounded-lg border border-gray-200 bg-white px-6 py-5 shadow-sm flex items-center">
        <div class="flex-shrink-0">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ed4682d5-1fe9-41e7-9c35-18fe17835ef9/d5627d1-63206557-c222-46be-909e-3196e67e81be.png/v1/fill/w_900,h_1276,strp/rusty_bucket_by_digimaree_d5627d1-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI3NiIsInBhdGgiOiJcL2ZcL2VkNDY4MmQ1LTFmZTktNDFlNy05YzM1LTE4ZmUxNzgzNWVmOVwvZDU2MjdkMS02MzIwNjU1Ny1jMjIyLTQ2YmUtOTA5ZS0zMTk2ZTY3ZTgxYmUucG5nIiwid2lkdGgiOiI8PTkwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Ndxqk_wrBCet02AhcNCSfs5bpMFab9_2q2ZsTbnsigA" alt="" class="h-10 w-10">
        </div>
        <div class="flex-1 min-w-0">
          <a href="#" class="focus:outline-none">
            <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="px-2 text-sm font-medium text-gray-900">
                put listing in a gross bucket
              </p>
          </a>
        </div>
      </div>
      <div class="relative rounded-lg border border-gray-200 bg-white px-6 py-5 shadow-sm flex items-center">
        <div class="flex-shrink-0">
          <img src="https://i.imgur.com/ukxaIwF.png" alt="" class="h-10 w-10">
        </div>
        <div class="flex-1 min-w-0">
          <a href="#" class="focus:outline-none">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="px-2 text-sm font-medium text-gray-900">
              e...mail?
            </p>
          </a>
        </div>
      </div>
      <div class="relative rounded-lg border border-gray-200 bg-white px-6 py-5 shadow-sm flex items-center">
        <div class="flex-shrink-0">
          <img src="https://uxwing.com/wp-content/themes/uxwing/download/file-and-folder-type/copy-link-icon.png" alt="" class="h-8 w-8">
        </div>
        <div class="flex-1 min-w-0">
          <a href="#" class="focus:outline-none">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="px-2 text-sm font-medium text-gray-900">
              throw a rock at someone. i mean copy link
            </p>
          </a>
        </div>
      </div>


    </div>

  </div>
</div>